body{
    background-color: palevioletred;
    
}

/* Navbar  */

.navbar{
    height:3rem;
    background-color: aliceblue;
}

.fa-bed{
    color:rgb(211, 63, 87) !important;
    font-size:3rem;
}
.fa-bed:hover{
    text-shadow:2px 2px 8px black;
}

.nav-link{
    color: black !important;
    font-size: 30rem;
}


/* Footer */

.f-info-links a{
    text-decoration: none;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    display: flex;
    height: 5rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}
.f-info-socials{
    font-size: 1.5rem;
    width: 100%;
    
}
.f-info-socials i{
    margin-right:1rem;
}
.f-info-links{
    width: 100%;
}

/* Cards */

.card{
    border:none !important;
    /* margin-bottom: 2rem; 
    margin: 2rem auto;
    padding: auto; */
    position: absolute;
    left:2rem;
    
}
.card:hover{
    box-shadow: 2px 2px 6px black;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 80% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0;
    /* left: 2rem; */
}

.card-text{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}

.srch-btn{
    display: inline;
    
}

/* EDIT BTN */
.btn-lg{
    background-color: rgb(233, 10, 84);
    width: 4rem;
    margin-bottom: 0.5rem;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 10px;
    text-decoration: none !important;
    color: black;
}